<h1>Burgers!</h1>

<h2>Burgers that are not eaten!</h2>

<ul>
  {{#each burgers}}
    {{#unless burger}}
      {{> burgers/cat-block sleep=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that are eaten!</h2>

<ul>
  {{#each burgers}}
    {{#if sleepy}}
      {{> burgers/burger-block eaten=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="burger">burger?</label><br>
    <input type="radio" name="burger" value="1" checked> burger!<br>
    <input type="radio" name="burger" value="0"> Not eaten
  </div>

  <button type="submit">Add Burger</button>
</form>
